.bodyHome {
  display: flex;
}

/* Style for the container of the image slider */
.img_Switch_Home {
  max-width: 100%;
  max-height: 80%;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
}

.lastHome {
  display: flex;
  flex: 1;
  justify-content: center;
  border: 0.5px solid black;
  padding: 10px;
  margin: 10px auto;
  border-radius: 1rem;
  max-width: 80%;
  max-height: 700px;
  background-color: rgba(128, 144, 160, 0.6);
}

.textLastHome {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 5rem;
}

.lastHome button {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #4caf50; /* Green */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 13rem auto;
}

.lastHome img {
  width: 50%;
}

.lastHome h1 {
  margin: 15rem auto;
}

.mySlides {
  display: none;
  animation: fade 1.5s ease-in-out infinite;
  width: 650px;
  height: 450px;
  padding: 10px;
  margin: 10px;
}

.mySlides.active {
  display: block;
}

.dot-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

.text {
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Increase the font size for headings */
h1 {
  font-size: 2rem;
}

/* Common styles for header and link components */
.headerLink,
a {
  text-decoration: none;
}

/* Header.css */
.headerLink {
  background-color: #20b2aa; /* Light Sea Green */
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.2rem;
}

/* Style for the "تسوق الان" button */
.btnShop {
  text-align: center;
  margin-top: 20px;
}

.btnShop button {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #4caf50; /* Green */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 13rem auto;
}

.btnShop button:hover {
  background-color: #45a049;
}

.middleHome {
  display: flex;
  flex: 1;
  justify-content: center;
  border: 0.5px solid black;
  padding: 10px;
  margin: 10px auto;
  border-radius: 1rem;
  max-width: 80%;
  max-height: 700px;
  background-color: rgba(128, 144, 160, 0.6);
}

@media screen and (max-width: 768px) {
  .middleHome {
    width: 75%; /* Smaller width for smaller screens */
    max-width: 500px; /* Maximum width for smaller screens */
  }
}

.textMiddleHome {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 5rem;
}

.textMiddleHome button {
  width: 50%;
  font-size: 1.5rem;
}

.middleHome img {
  width: 450px;
  flex: 1;
  margin: 10px;
  border-radius: 1rem;
}
