.containerLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.toolLogin {
  text-align: center;
}

.toolLogin p {
  font-weight: 400;
  font-size: 1.2rem;
  color: red;
}

.containerLogin h1 {
  text-align: center;
  color: #333;
}

.containerLogin form {
  background-color: rgba(20, 30, 40, 0.5);
  padding: 15px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 1rem;
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Increased gap between form elements */
  box-shadow: 5px 5px 5px red;
}

.containerLogin input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
