.containerUser {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  margin: 15rem auto;
  border-radius: 1rem;
  width: 50%;
  text-align: center;
  box-shadow: 5px 5px 5px 5px black;
}

.containerUser button {
  width: 50%;
  font-size: 1.5rem;
  padding: 5px;
  margin: 5px;
}

.containerUser button:hover {
  transform: scale(1.2);
  background-color: red;
  color: black;
}

.containerError {
  background-color: rgba(233, 233, 238, 0.7);
  text-align: center;
  border: 2px solid black;
  border-radius: 1rem;
  width: 500px;
  height: 180px;
  margin: 18rem auto;
  text-align: center;
  box-shadow: 5px 5px 5px 5px red;
}
